.start-scene {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;

		button {
			font-size: 14pt;
			display: block;
			margin: 40px auto;
			width: 12em;
			line-height: 3em;
			text-transform: uppercase;

			&.expert {
				background: radial-gradient(#fc9c84, #f27171);
			}

			&.medium {
				background: radial-gradient(#84d6fc, #71acf2);
			}

			&.easy {
				background: radial-gradient(#a0fc84, #71f28d);
			}
		}
	}
}
